lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
node_modules/
.next/
dist/
build/

# Coverage
coverage/
.nyc_output/

# Environment
.env
.env*.local

# IDE
.idea/
.vscode/
*.sublime-*

# OS
.DS_Store
Thumbs.db
